<container class="row mx-auto d-flex justify-content-between gx-5"" style="width: 97%;">
    <div class="col-3">
      <div class="row bg-warning p-3 rounded">
        <h1 class="display-6">Level: <span id="Level"></span>Buffed: <span id="Buffed"></span></h1>
      </div>
      </br>
      <div class="row bg-danger p-3 rounded">
        <h1 class="display-6">Card 1</h1>
      </div>
    </br>
      <div class="row bg-danger p-3 rounded">
        <h1 class="display-6">Card 2</h1>
      </div>
    </br>
      <div class="row bg-danger p-3 rounded">
        <h1 class="display-6">Card 3</h1>
      </div>
    </br>
      <div class="row bg-danger p-3 rounded">
        <h1 class="display-6">Card 4</h1>
      </div>
    </br>
      <div class="row bg-danger p-3 rounded">
        <h1 class="display-6">Card 5</h1>
      </div>
    </br>
    </div>
    <div class="row bg-secondary d-flex justify-content-between p-3 m-3rounded">
      <div class="col-1 bg-danger p-3 rounded">
        <h1 class="display-6">Card 1</h1>
      </div>
      <div class="col-1 bg-danger p-3 rounded">
        <h1 class="display-6">Card 2</h1>
      </div>
      <div class="col-1 bg-danger p-3 rounded">
        <h1 class="display-6">Card 3</h1>
      </div>
      <div class="col-1 bg-danger p-3 rounded">
        <h1 class="display-6">Card 4</h1>
      </div>
      <div class="col-1 bg-danger p-3 rounded">
        <h1 class="display-6">Card 5</h1>
      </div>
    </div>
</container>

    <script src="/Munchkin/utils/combat.js"></script>
