<body>
  <header>
    <h1>Welcome to our mock up of Munckin by Steve Jackson Games</h1>
  </header>
  <main>
    <div>
      <h2>Enjoy the game!</h2>
      <h2><a href="/playGame">Play</a></h2>
    </div>

  </main>
</body>
